<!DOCTYPE html>
<html>
  <head>
    <title>ATX Snowpocalypse Resource Map</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/pages/homepage.css">
    <!--STYLES END-->
  </head>

  <body>
    <div id="modal">
      <div class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeModal()">&times;</a>
        <div class="overlay-content">
          <form id="form-container">
            <p id="modal-location-name"></p>
            <p id="modal-location-address"></p>

            <div>
              <label for="form-water">Does this location have water?
                <select name="form-water" id="form-water" onchange="validateForm()">
                  <option selected value="idk">Select</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </label>
            </div>

            <div>
              <label for="form-water">Does this location have electricity?
                <select name="form-electricity" id="form-electricity" onchange="validateForm()">
                  <option selected value="idk">Select</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </label>
            </div>

            <div>
              <label for="form-water">Is this an unused business with their lights on?
                <select name="form-naughty" id="form-naughty" onchange="validateForm()">
                  <option selected value="no">No</option>
                  <option value="yes">Yes</option>
                </select>
              </label>
            </div>

            <div id="submit-button">
              <input type="button" onclick="submitRecord()" value="Save or Update this information on map">
            </div>

          </form>
          <div id="thanks-container"></div>
        </div>
      </div>
    </div>

    <div id="map"></div>
    <%- body %>

    <footer class="navbar navbar-light justify-content-between flex-row-reverse" purpose="page-footer">
      <div id="floating-panel">
        <div class="group">
            <div class="subject">Water</div>
            <button onclick="toggleHeatmap('waterOff')" id="button-waterOff" class="showing" style="background-color:rgba(226, 151, 191, 1)">Hide Outages</button>
            <button onclick="toggleHeatmap('waterOn')" id="button-waterOn" class="showing" style="background-color:rgba(141, 172, 221, 1)">Hide Working</button>
        </div>
        <div class="group">
            <div class="subject">Electricity</div>
            <button onclick="toggleHeatmap('electricityOff')" id="button-electricityOff" class="showing" style="background-color:rgba(212, 33, 33, 1)">Hide Outages</button>
            <button onclick="toggleHeatmap('electricityOn')" id="button-electricityOn" class="showing" style="background-color:rgba(142, 214, 118, 1)">Hide Working</button>
        </div>
        <div class="group">
            <div class="subject">Careless Businesses</div>
            <button onclick="toggleHeatmap('naughty')" id="button-naughty" class="showing" style="background-color:rgba(235, 151, 92, 1)">Hide Them</button>
        </div>
      </div>
    </footer>
  </div>

    <!--TEMPLATES-->
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <script src="/dependencies/lodash.js"></script>
    <script src="/dependencies/axios.js"></script>
    <!--SCRIPTS END-->
    <script src="https://pagecdn.io/lib/mathjs/7.1.0/math.js"></script>
    <script src="https://pagecdn.io/lib/axios/v0.20.0-0/axios.js" crossorigin="anonymous"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmBz8hvwFWG7RbeM3A1q7auD7vEHeR20o&libraries=places,visualization&callback=initMap"></script>

  </body>
</html>
